Repository rk8s-dev/rk8s, pull requests merged in 2025-08, with the labels that each got.

#93 docs: add technical documentation for VFS, FUSE, and PassthroughFS #90
  .gitignore
  project/libfuse-fs/docs/images/FUSE_VFS.png
  project/libfuse-fs/docs/images/VFS.png
  project/libfuse-fs/docs/images/overlay.png
  project/libfuse-fs/docs/tech.md
  project/libfuse-fs/docs/tech_zh.md
  project/libfuse-fs/overlay.md
Labels: documentation, fuse

#92 feat: Basic scheduler framework
  project/Cargo.toml
  project/libscheduler/Cargo.toml
  project/libscheduler/README.md
  project/libscheduler/src/algorithms/basic.rs
  project/libscheduler/src/algorithms/mod.rs
  project/libscheduler/src/cache.rs
  project/libscheduler/src/lib.rs
  project/libscheduler/src/models.rs
  project/libscheduler/src/scheduler.rs
  project/libscheduler/tests/test_scheduler.rs
Labels: rks, scheduler

#91 Docs: update the readme file of the root project and the RKL package
  README.md
  project/rkl/README.md
Labels: documentation, network, rkl

#99 fix(rkl/compose): refine the design of rkl's compose-style & fix some issue on volumes, network, configs
  project/rkl/src/commands/compose/config.rs
  project/rkl/src/commands/compose/mod.rs
  project/rkl/src/commands/compose/network.rs
  project/rkl/src/commands/compose/spec.rs
  project/rkl/src/commands/container/config.rs
  project/rkl/src/commands/container/mod.rs
  project/rkl/src/commands/mod.rs
  project/rkl/src/commands/pod/mod.rs
  project/rkl/src/lib.rs
  project/rkl/src/main.rs
Labels: rkl

#112 add network for rks
  project/libbridge/src/main.rs
  project/libcni/BUCK
  project/libcni/Cargo.toml
  project/libcni/src/ip/addr.rs
  project/libcni/src/ip/mod.rs
  project/libcni/src/ip/route.rs
  project/libipam/src/allocator.rs
  project/libipam/src/range.rs
  project/libnetwork/src/main.rs
  project/rks/BUCK
  project/rks/Cargo.toml
  project/rks/src/commands/create.rs
  project/rks/src/lib.rs
  project/rks/src/main.rs
  project/rks/src/network/annotation.rs
  project/rks/src/network/backend/hostgw.rs
  project/rks/src/network/backend/interface.rs
  project/rks/src/network/backend/mod.rs
  project/rks/src/network/backend/route.rs
  project/rks/src/network/backend/tests.rs
  project/rks/src/network/config.rs
  project/rks/src/network/iface.rs
  project/rks/src/network/init.rs
  project/rks/src/network/ip.rs
  project/rks/src/network/lease.rs
  project/rks/src/network/manager.rs
  project/rks/src/network/mod.rs
  project/rks/src/network/registry.rs
  project/rks/src/network/subnet.rs
  project/rks/src/protocol/config.rs
  project/rks/tests/init_integration.rs
  project/rks/tests/test_xline.rs
  third-party/BUCK
  third-party/Cargo.toml
  third-party/fixups/context/fixups.toml
  third-party/fixups/crc32fast/fixups.toml
Labels: network
