Repository rk8s-dev/rk8s, pull requests merged in 2025-09, with the labels that each got.

#167 fix: refactor mmap handling to fix #159
  project/libfuse-fs/src/passthrough/async_io.rs
  project/libfuse-fs/src/passthrough/mmap.rs
  project/libfuse-fs/src/passthrough/mod.rs
Labels: fuse, filesystem, SlayerFS

#184 fix(PassthroughFS): fix invalidate to follow the newest moka
  project/Cargo.lock
  project/libfuse-fs/Cargo.toml
  project/libfuse-fs/src/passthrough/mod.rs
Labels: fuse, filesystem

#190 feat(rkl&libfuse-fs): add image unpack functionality for rkl and adjust the log level in libfuse-fs
  project/Cargo.lock
  project/common/src/lib.rs
  project/libfuse-fs/BUCK
  project/libfuse-fs/Cargo.toml
  project/libfuse-fs/examples/overlayfs_example.rs
  project/libfuse-fs/examples/passthrough_example.rs
  project/libfuse-fs/src/examples/main.rs
  project/libfuse-fs/src/examples/overlayfs_example.rs
  project/libfuse-fs/src/examples/passthrough_example.rs
  project/libfuse-fs/src/lib.rs
  project/libfuse-fs/src/overlayfs/async_io.rs
  project/libfuse-fs/src/overlayfs/inode_store.rs
  project/libfuse-fs/src/overlayfs/mod.rs
  project/libfuse-fs/src/passthrough/async_io.rs
  project/libfuse-fs/src/passthrough/file_handle.rs
  project/libfuse-fs/src/passthrough/logfs.rs
  project/libfuse-fs/src/passthrough/logging_macros/src/lib.rs
  project/libfuse-fs/src/passthrough/mod.rs
  project/libfuse-fs/src/passthrough/mount_fd.rs
  project/libfuse-fs/src/passthrough/newlogfs.rs
  project/libfuse-fs/src/passthrough/util.rs
  project/libfuse-fs/src/server/mod.rs
  project/libfuse-fs/src/util/mod.rs
  project/rfuse3/src/raw/abi.rs
  project/rkb/src/exec.rs
  project/rkl/BUCK
  project/rkl/Cargo.toml
  project/rkl/src/bundle.rs
  project/rkl/src/commands/compose/mod.rs
  project/rkl/src/commands/container/config.rs
  project/rkl/src/commands/container/mod.rs
  project/rkl/src/commands/mod.rs
  project/rkl/src/commands/pod/mod.rs
  project/rkl/src/commands/utils.rs
  project/rkl/src/main.rs
  project/rkl/src/task.rs
Labels: fuse, rkl, SlayerFS
